:root {
	--prva: #ff3022;
	--druga: #941810;
	--tretja: #0040b8;
	--cetrta: #001846;
}
.gumbNazaj {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 1px solid grey;
}
.gumbNazaj:hover {
	cursor: pointer;
	border: 1px solid black;
	border-radius: 8px;
}
.naslov {
	text-decoration: none;
	margin: 40px 0px 30px 0px;
	font-size: 25px;
	font-weight: 700;
}
.posiljanje {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: medium;
	font-weight: 500;
	background-color: transparent;
	color: black;
	border: 1px solid rgba(128, 128, 128, 0.705);
	margin: 20px 0px 20px 0px;
	padding: 5px 14px 5px 14px;
	width: fit-content;
	align-self: center;
}
.posiljanje:hover {
	cursor: pointer;
	background-color: rgba(128, 128, 128, 0.295);
}
.oznaka {
	margin: 4px;
	padding: 4px;
}
/*_____________________ App _____________________*/
/*hr {
	border: 0.5px solid rgb(203, 203, 203);
	outline: none;
	width: 100%;
}*/
.vsebina {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 17px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-width: 600px;
	min-height: 97vh;
	height: auto;
	background: transparent;
	overflow: hidden;
}

/*_____________________ Domov _____________________*/
.domov {
	background-color: #2471af;
}

/*_____________________ Error _____________________*/
.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.napaka {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-top: solid 5px;
	border-bottom: solid 5px;
	border-image: repeating-linear-gradient(-75deg, yellow, yellow 10px, black 10px, black 20px) 20;
	margin-bottom: 20px;
}

/*_____________________ LogotipC _____________________*/
.logoDiv {
	margin: 8px auto 8px auto;
	padding: 6px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.logoDiv img {
	max-width: 60px;
	max-height: 60px;
	padding: 10px;
	float: left;
	cursor: pointer;
}
.logoDiv label {
	padding: 10px;
	padding-bottom: 15px;
	color: white;
	font-weight: 600;
	font-size: 17px;
	cursor: pointer;
}

/*_____________________ NavigacijskaVrsticaC _____________________*/
.navigacija1 {
	background: linear-gradient(45deg, var(--prva), var(--tretja));
	width: 100%;
	min-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 600px;
}
.vrstica1 {
	margin: 0 auto 0 auto;
	background: blur(2px);
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	min-width: 600px;
	padding: 10px;
}
.vrstica1 div {
	width: auto;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: auto;
	padding: 10px;
	border-right: 2px solid rgba(255, 9, 9, 0.281);
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.linki,
.linki > label {
	color: white;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}
.linki:hover,
.linki > label:hover {
	color: rgba(243, 241, 241, 0.979);
}

/*_____________________ NogaC _____________________*/
.noga {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(45deg, #e66465, #9198e5);
	width: 100%;
	min-height: 80px;
	max-height: 100px;
	min-width: 600px;
	padding: 20px;
	margin-top: 30px;
	color: white;
}
.noga hr {
	border: 0.5px solid rgb(203, 203, 203);
	outline: none;
}
.informacijeLevo {
	text-align: left;
}
.informacijeSredina {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.informacijeSredina > div {
	margin-left: 4px;
}
.informacijeSredina > div > button {
	width: min-content;
	height: min-content;
	color: white;
	background-color: transparent;
	border: none;
	padding: 0px;
}
.informacijeSredina > div > button:hover {
	cursor: pointer;
	color: blue;
}
.informacijeDesno {
	text-align: right;
}
.informacijeDesno > div {
	display: flex;
	flex-direction: row;
}
.telefonskeStevilke {
	text-align: left;
	margin-left: 6px;
}

/*_____________________ ONasC _____________________*/
.oNas {
	background-color: #7765c7;
}
