/*_____________________ AvtentikacijaC _____________________*/
.authPage {
}

/*_____________________ IzbrisProfilaC _____________________*/

/*_____________________ ObvestiloC _____________________*/
.obvestilo {
	position: fixed;
	background-color: rgb(214, 223, 223);
	padding: 12px;
	border-radius: 5px;
	max-width: 400px;
	color: rgb(0, 0, 0);
	text-align: center;
	z-index: 50;
}
/*_____________________ PodatkiUporabnikaC _____________________*/
.tabelaPodatkovUporabnika td {
	border: 2px solid transparent;
}
.vnosnoPolje {
	min-width: 150px;
}
/*_____________________ PrijavaC _____________________*/

.kartice {
	background: linear-gradient(45deg, #ff312296, #0040b8);
	color: white;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px;
	box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
}
.prijava {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	min-height: 400px;
	color: white;
}
.prijava > h2 {
	position: relative;
	top: -12px;
}
.prijava form input {
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 12px;
	height: 20px;
	width: 135px;
	padding: 2px 8px 2px 8px;
	margin: 5px;
	font-size: 16px;
}
.gumb1 {
	background-color: rgba(128, 128, 128, 0.171);
	padding: 5px;
	margin: 5px;
	border: 2px solid transparent;
	color: white;
	border-radius: 3px;
}
.gumb1:hover {
	cursor: pointer;
	border: 2px solid white;
}
.sporociloNapake {
	margin: 10px;
	margin-top: 30px;
}
/*_____________________ ProfilC _____________________*/
.nalaganje {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 100px;
}
.moznostiProfila {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px;
	padding: 20px;
	min-width: 700px;
	/*border: 3px solid grey;*/
	background-color: rgba(0, 191, 255, 0.288);
	box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
}
.funkcije {
	border: 1px solid transparent;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: min-content;
	max-width: 420px;
}
.gumbZaFunkcije {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid white;
	background-color: transparent;
	color: rgb(0, 0, 0);
	margin: 5px 0px 5px 0px;
	padding: 4px;
	font-weight: 500;
	font-size: 16px;
	min-width: 200px;
	text-align: left;
}
.gumbZaFunkcije:hover {
	background-color: rgb(220, 225, 231);
	color: black;
	cursor: pointer;
}
/*_____________________ RegistracijaC _____________________*/
.registracija {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	min-height: 400px;
	color: white;
	min-width: 800px;
}
.registracija > h2 {
	position: relative;
	top: -12px;
}
.registracija form input {
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 1px;
	height: 20px;
	width: 135px;
	padding: 2px 8px 2px 8px;
	margin: 5px;
	margin-left: 15px;
	font-size: 16px;
}
.gumb1 {
	background-color: transparent;
	padding: 5px;
	margin: 5px;
	border: 2px solid transparent;
	color: white;
	border-radius: 3px;
	font-size: large;
	text-decoration: underline;
}
.gumb1:hover {
	cursor: pointer;
	border: 2px solid white;
	text-decoration: none;
}
.sporociloNapake {
	margin: 10px;
	margin-top: 30px;
}
.vnosnaPolja {
	margin: 5px;
	padding: 5px;
	min-width: max-content;
}
.vnosnaPolja > div {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	overflow: hidden;
}
.odzivi {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: left;
}
/*_____________________ SpreminjanjeGeslaC _____________________*/
/*_____________________ UrejanjeProfilaC _____________________*/
.urejanjeProfila {
	padding-left: 20px;
	padding-right: 20px;
}
.podatkiOUporabniku {
	padding: 10px;
}
.urejanje {
	padding: 10px 0px 10px 0px;
	display: flex;
	justify-content: center;
}
.gumb2 {
	background-color: transparent;
	color: black;
	padding: 4px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	border: 1px solid transparent;
}
.gumb2:hover {
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
}
.gumbDisabled {
	background-color: transparent;
	color: grey;
	padding: 4px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	border: 1px solid transparent;
}
.gumbi {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*_____________________ DodajanjeIzdelkovC _____________________*/
.obrazecZaVnos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 500px;
	width: fit-content;
	min-width: 550px;
	margin: 20px;
	padding: 10px;
	border: 1px solid rgba(128, 128, 128, 0.322);
	border-radius: 4px;
}
.obrazecZaVnos > table {
	min-width: 400px;
	border-radius: 5px;
	border-collapse: collapse;
	margin: 15px;
}
.obrazecZaVnos > table tr {
	border: none;
}
.obrazecZaVnos > table td {
	border: none;
}
.opisPodatka {
	min-width: max-content;
	width: 160px;
	padding: 3px;
	font-size: 18px;
}
.obrazecZaVnos > table .podatek {
	min-width: max-content;
	width: 175px;
	padding: 3px;
	font-size: 17px;
}
.tekstovnoPolje {
	min-width: 150px;
	font-size: 18px;
	background-color: white;
	border: 1px solid black;
	border-radius: 8px;
	padding: 3px 10px 3px 10px;
}
.sporociloONapaki {
	color: red;
}

/*_____________________ DodajanjeUporabnikovC _____________________*/
/*_____________________ PodrobnostiC _____________________*/
.podrobnosti {
	margin: 25px;
	padding: 15px;
}
.podrobniPodatki {
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 20px;
	border: 1px solid none;
	border-radius: 8px;
	background: linear-gradient(45deg, #e66464a6, rgba(152, 185, 224, 0.548));
	width: fit-content;
	max-width: 700px;
}
.tabela {
	background-color: white;
	border: 3px solid transparent;
	margin: 20px 0px 20px 0px;
}
.tabela,
td,
th,
tr {
	border: 1px dotted grey;
	border-collapse: collapse;
}
td,
th {
	min-width: max-content;
	margin: 3px;
	padding: 2px 3px 2px 3px;
	text-align: left;
}
td input {
	z-index: 1000;
	width: 15px;
	margin: 0px 3px 0px 3px;
}
td > div {
	display: flex;
	flex-direction: row;
}
.potrdi {
	background-color: rgba(197, 197, 197, 0.281);
	padding: 2px 6px 2px 6px;
	border: 1px solid grey;
	border-radius: 4px;
}
.potrdi:hover {
	cursor: pointer;
	background-color: rgba(128, 128, 128, 0.281);
}

/*_____________________ PregledC _____________________*/
.pregled {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	min-width: 630px;
}
.filtriIskanja {
	background-color: rgba(214, 214, 214, 0.568);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px 0px 10px 0px;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.iskanje {
	margin: 5px 15px 5px 15px;
	padding: 8px;
}

/*_____________________ ostalo ... _____________________*/
.vrstica:hover {
	background-color: rgba(240, 240, 240, 0.727);
	border: 1px solid rgb(39, 107, 255);
	cursor: pointer;
}
.admin {
	background-color: rgba(170, 255, 11, 0.753);
}
.racunovodja {
	background-color: rgb(240, 222, 178);
}
.zaposleni {
	background-color: rgb(22, 176, 247);
}
.stranka {
	background-color: rgb(255, 151, 16);
}
.omogocanje:hover {
	text-decoration: underline;
	color: red;
}

.nalaganjeDatoteke {
	width: 180px;
}

.OKQuantity {
	user-select: none;
	visibility: hidden;
}
