.authPage {
}
.notificationCard {
	display: block;
	justify-content: center;
	align-items: center;
	background-color: rgba(122, 123, 123, 0.558);
	max-width: 400px;
	border-radius: 8px;
	color: white;
	box-shadow: 3px 3px 1px 1px rgba(146, 146, 151, 0.2);
	padding: 10px 30px 10px 30px;
	text-align: left;
}

.moznostiProfila {
	display: flex;
	flex-direction: row;
	background-color: rgb(186, 240, 240);
}
.backBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid grey;
	background-color: transparent;
	margin: 25px 0px 15px 0px;
}
.backBtn:hover {
	background-color: grey;
	color: white;
	cursor: pointer;
}

.podrobniPodatki {
	display: flex;
	flex-direction: row;
	margin: 20px;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: rgba(255, 235, 205, 0.322);
	width: fit-content;
	max-width: 700px;
}

.izbirnoPolje {
	background-color: rgb(255, 255, 255);
	margin: 10px;
	padding: 4px;
	border: 1px solid black;
	border-radius: 0px;
	font-size: 14px;
	font-weight: 500;
	width: auto;
	min-width: 140px;
}
.izbirnoPolje:hover {
	border: 1px solid black;
	cursor: pointer;
}

.naslov {
	font-size: 28px;
	font-weight: 700;
	margin: 50px 0px 15px 0px;
}
.tabela {
	background-color: white;
	border: 3px solid transparent;
	margin: 20px 0px 20px 0px;
}
.tabela,
td,
th,
tr {
	border: 1px dotted grey;
	border-collapse: collapse;
}

.vrstica:hover {
	background-color: rgba(240, 240, 240, 0.727);
	border: 1px solid rgb(39, 107, 255);
	cursor: pointer;
}
td,
th {
	min-width: max-content;
	margin: 3px;
	padding: 2px 3px 2px 3px;
	text-align: left;
}
td input {
	z-index: 1000;
	width: 15px;
	margin: 0px 3px 0px 3px;
}
td > div {
	display: flex;
	flex-direction: row;
}
.admin {
	background-color: rgba(170, 255, 11, 0.753);
}
.racunovodja {
	background-color: rgb(240, 222, 178);
}
.zaposleni {
	background-color: rgb(22, 176, 247);
}
.stranka {
	background-color: rgb(255, 151, 16);
}
.omogocanje:hover {
	text-decoration: underline;
	color: red;
}

.obrazecZaVnosUporabnika {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 500px;
	width: fit-content;
	margin: 20px;
}
.obrazecZaVnosUporabnika > table {
	min-width: 400px;
	border-radius: 5px;
	border-collapse: collapse;
	margin: 15px;
}
.obrazecZaVnosUporabnika > table tr {
	border: none;
}
.obrazecZaVnosUporabnika > table td {
	border: none;
}
.obrazecZaVnosUporabnika > table .opisPodatka {
	min-width: max-content;
	width: 160px;
	padding: 3px;
	font-size: 18px;
}
.obrazecZaVnosUporabnika > table .podatek {
	min-width: max-content;
	width: 175px;
	padding: 3px;
	font-size: 17px;
}
.tekstovnoPolje {
	min-width: 150px;
	font-size: 18px;
	background-color: white;
	border: 1px solid black;
	border-radius: 13px;
	padding: 3px 10px 3px 10px;
}
.sporociloONapaki {
	color: red;
}
